@{
    ViewBag.Title = "Contacte-nos";
}
<h2>@ViewBag.Title</h2>
<h3>Pode encontrar toda a informação de que necessita no nosso website.</h3>

<strong>Central de reservas</strong>
<address>
    <strong>Telefone:</strong> <p>+351 234 923 689</p>
    <strong>Email:</strong> <a href="mailto:Reservas@Car4U.com">reservas@car4u.com</a>
</address>

<strong>Horário de Funcionamento</strong>
<p>Segunda-feira a Sexta-feira</p>
<p>08:30-19:30</p>
<p>Sábado</p>
<p>09:00-18:00</p>

<strong>Contactos</strong>
<address>
    <strong>Email:</strong>   <a href="mailto:suporte.cliente@Car4U.com">suporte.cliente@car4u.com</a><br />
</address>

<strong>Dê-nos a sua opinião sobre o aluguer:</strong>
<p>A sua opinião é muito importante para nos ajudar a manter a qualidade dos nossos serviços.</p>
<address>
    <a href="Pesquisa de opinião>">Pesquisa de Opinião</a><br />
</address>

<strong>Se a sua pergunta se refere a um dos seguintes tópicos, por favor clique no link apropriado:</strong>
<address>
    <a href="Refere-se à rede de postos diponíveis da Car4U no mundo inteiro">Refere-se à rede de  postos díponíveis da Car4U no mundo inteiro</a><br />
    <a href="Consulte a frota nacional da Car4U">Consulte a frota nacional da Car4U</a><br />
    <a href="Consulte informação sobre a companhia">Consulte informação sobre a companhia</a><br />
</address>
<strong>Selecione e preencha o formulário apresentado para nos contactar:</strong><br />
<select>
    <option value="Edição1">Edição1</option>
    <option value="Edição2">Edição2</option>
    <option value="Edição3">Edição3</option>
    <option value="Sobre Nós">Sobre Nós</option>
</select>